@import url("reset.css");

@import url(http://fonts.googleapis.com/css?family=Michroma);

body {
	font-family: sans-serif;
}

header {
	background: #1a1a1a;
	box-shadow: inset 0 -3px 5px #000, 0 1px 0 rgba(255,255,255, 0.15);
	color: #fff;
	font: 400 16px/2.5em "Michroma", sans-serif;
	text-shadow: 0 1px 3px #000;
	text-indent: 1em;
}

#search {
	margin-left: 1em;
}

#livesearch {
	background: white;
	margin-left: 8em;
	position: absolute;
	z-index: 2;
}

#livesearch p {
	font: "Verdana", sans-serif;
	line-height: 1em;
	font-size: .75em;
}

#map_canvas {
	width: 100%;
}
